<?xml version='1.0' encoding='utf-8'?>
<widget id="org.moretech.nabd" versionCode="1014001" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>إليك كتابي</name>
	<description>
		MyBook4U mobile application.
	</description>
	<author email="islam@muslim-tec.com" href="https://twitter.com/eslam_elmeniawy">
		Eslam El-Meniawy
	</author>
	<content src="index.html" />
	<preference name="phonegap-version" value="3.7.0" />
	<preference name="permissions" value="none" />
	<preference name="android-minSdkVersion" value="10" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
	<access origin="*" />
</widget>